*{
 margin:0;
 padding:0;
 box-sizing:border-box;   
}

.intro{
    background-color:#f9cc7b ; 
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.intro h1 {
    font-family:sans-serif ; 
    align-items: center;
    font-size: 50px;
}

.intro button{
    width: 150px;
    height: 50px;
    background: none;
    border:none;
    font-size: 20px;
}

section{
    height: 100vh;
    background-color:#f9cc7b ;
    font-family:sans-serif ;

}

.score{
    height: 20vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.score h2{
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.match{
   position: absolute; 
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
}