*{
 margin:0;
 padding:0;
 box-sizing:border-box;   
}

.intro{
    background-color:#f9cc7b ; 
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
}

.intro h1 {
    font-family:sans-serif ; 
    align-items: center;
    font-size: 50px;
}

.intro button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border:none;
    font-size: 20px;
    /*make button move a bit*/
    cursor: pointer;
}

section{
    height: 100vh;
    background-color:#f9cc7b ;
    font-family:sans-serif ;

}

.score{
    height: 20vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.score h2{
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.match{
   position: absolute; 
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
}

.winner{
   text-align: center; 
   font-size: 50px;
}

.hands, .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand{
    /*rotate hand not working*/
    transform: rotateY(180deg);
}

div.fadeOut{
   opacity: 0; 
   pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}